body{
    background-color: rgb(48, 48, 66);
    height: 1500px;
}

.move{
    width: 500px;
    transition: all 0.3s ease;
    position: relative;
    padding: 20px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: blue;
}
.hehe,.hehe2{
    color: yellow;
    position: absolute;
    top: 0px;
}
.hehe2{
    left: 0px;
}
.move img{  
    position: absolute;
    animation-name: unset;
    top: 0px;
    background-color: black;
    height: 50%;
}
.ss{
    transition: all 3s;
    transition-delay: 1s;
    padding:40px 0px;
    width:50%;
    height:300px;
}
/*
    transition: all 1s ease;
}
@keyframes balll
{
    
    
    0%   { top: 0px;}
    50% {top: 30px;}
    100% { top: 0px;}
}
@keyframes balll2
{
    

    0%   { top: 0px;}
    50% {top: -30px;}
    100% { top: 0px;}
}
*/